.main__section {
    width: 90%;
    margin: 1em auto;
}

.department__info {
    border: 3px solid gray;
    padding-right: 2em;
    padding-left: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.department__info form div {
    margin: 30px 0;
}

.department__info form div input{
    display: block;
}

