.main__section {
    width: 90%;
    margin: 1em auto;
}

.input__search input, .input__search button {
    width: 100%;
}

.input__search input {
    outline: 0;
}

.input__search button {
    padding: .7rem;
}